WES268A_Lab2_Hoang-Shimizu.aux
WES268A_Lab2_Hoang-Shimizu.fdb_latexmk
WES268A_Lab2_Hoang-Shimizu.fls
WES268A_Lab2_Hoang-Shimizu.log
WES268A_Lab2_Hoang-Shimizu.out
WES268A_Lab2_Hoang-Shimizu.synctex.gz
WES268A_Lab2_Hoang-Shimizu.toc
